kwa-node-red-flows.json
[{"id":"2eaafcc5.190f64","type":"tab","label":"KWA Water Pressure","disabled":false,"info":""},{"id":"eeff6867.3796f8","type":"mqtt in","z":"2eaafcc5.190f64","name":"","topic":"home/terrace/kwa/water/pressure","qos":"0","datatype":"auto","broker":"f7a5d18a.ad3c","nl":false,"rap":true,"rh":0,"x":200,"y":60,"wires":[["7ae6c127.d8c67"]]},{"id":"e21385ca.f00628","type":"debug","z":"2eaafcc5.190f64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":160,"wires":[]},{"id":"ccf8614.6cb49a","type":"function","z":"2eaafcc5.190f64","name":"adc to voltage","func":"msg.payload = (msg.payload * 5.0)/1023\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":160,"wires":[["e21385ca.f00628","9a4f928c.632a1"]]},{"id":"7ae6c127.d8c67","type":"change","z":"2eaafcc5.190f64","name":"string to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":160,"wires":[["ccf8614.6cb49a","bbb2f66d.094948","13231722.aa2019"]]},{"id":"caee168.b0395e8","type":"debug","z":"2eaafcc5.190f64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":300,"wires":[]},{"id":"9a4f928c.632a1","type":"mqtt out","z":"2eaafcc5.190f64","name":"","topic":"home/terrace/kwa/water/pressure/voltage","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f7a5d18a.ad3c","x":860,"y":220,"wires":[]},{"id":"bbb2f66d.094948","type":"ui_chart","z":"2eaafcc5.190f64","name":"","group":"3215fc00.b97114","order":0,"width":0,"height":0,"label":"KWA Water Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":660,"y":80,"wires":[[]]},{"id":"13231722.aa2019","type":"smooth","z":"2eaafcc5.190f64","name":"","property":"payload","action":"mean","count":"15","round":"","mult":"single","reduce":true,"x":360,"y":260,"wires":[["2f74ed8b.094af2"]]},{"id":"9abbe582.309668","type":"mqtt out","z":"2eaafcc5.190f64","name":"","topic":"home/ui/kwa-water/pressure","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f7a5d18a.ad3c","x":820,"y":360,"wires":[]},{"id":"2f74ed8b.094af2","type":"function","z":"2eaafcc5.190f64","name":"adc to psi","func":"const MAX_SENSOR_PSI = 232.06;\nconst ADC_MIN = 180;\nconst ADC_MAX = 350;\n\nmsg.payload = ((msg.payload - ADC_MIN)*MAX_SENSOR_PSI)/(ADC_MAX - ADC_MIN);\nmsg.payload = Math.ceil(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":300,"wires":[["caee168.b0395e8","9abbe582.309668"]]},{"id":"edb15697.5b7028","type":"inject","z":"2eaafcc5.190f64","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"40","payloadType":"num","x":530,"y":360,"wires":[["9abbe582.309668"]]},{"id":"c6783fc8.3c85f","type":"inject","z":"2eaafcc5.190f64","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"39","payloadType":"num","x":530,"y":420,"wires":[["9abbe582.309668"]]},{"id":"f7a5d18a.ad3c","type":"mqtt-broker","name":"Raspberry Pi 4","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3215fc00.b97114","type":"ui_group","name":"Default","tab":"bf83849e.c65208","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bf83849e.c65208","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]