node-red-flows.json
[{"id":"778832b7.24174c","type":"tab","label":"Water Level Monitor","disabled":false,"info":""},{"id":"be8e433a.fe209","type":"mqtt in","z":"778832b7.24174c","name":"","topic":"home/terrace/tank/water/level","qos":"2","datatype":"auto","broker":"f7a5d18a.ad3c","nl":false,"rap":false,"x":160,"y":60,"wires":[["5d258d48.5fda94"]]},{"id":"5d258d48.5fda94","type":"switch","z":"778832b7.24174c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"1000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":120,"wires":[["bacb5a56.a85908"]]},{"id":"bacb5a56.a85908","type":"change","z":"778832b7.24174c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"100 - ($number(msg.payload) - 15)/(78 - 15) * 100","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$ceil(msg.payload)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$min([100, msg.payload])","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$max([0, msg.payload])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["f9dad8e1.33f888","33872fa9.9f8f9"]]},{"id":"33872fa9.9f8f9","type":"mqtt out","z":"778832b7.24174c","name":"","topic":"home/monitor/water/tank/percent","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f7a5d18a.ad3c","x":400,"y":240,"wires":[]},{"id":"f9dad8e1.33f888","type":"debug","z":"778832b7.24174c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"2a00bdc1.905e72","type":"inject","z":"778832b7.24174c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"25","payloadType":"num","x":110,"y":420,"wires":[["33872fa9.9f8f9"]]},{"id":"b8aeacd7.30917","type":"inject","z":"778832b7.24174c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":300,"wires":[["33872fa9.9f8f9"]]},{"id":"467b19aa.640868","type":"inject","z":"778832b7.24174c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":110,"y":480,"wires":[["33872fa9.9f8f9"]]},{"id":"a50c9e9.ffb706","type":"inject","z":"778832b7.24174c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"75","payloadType":"num","x":110,"y":540,"wires":[["33872fa9.9f8f9"]]},{"id":"154938b3.b05487","type":"inject","z":"778832b7.24174c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":110,"y":600,"wires":[["33872fa9.9f8f9"]]},{"id":"8288e7a9.8d3bd8","type":"inject","z":"778832b7.24174c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"num","x":110,"y":360,"wires":[["33872fa9.9f8f9"]]},{"id":"8f037be4.337718","type":"mqtt out","z":"778832b7.24174c","name":"","topic":"home/monitor/water/backlight","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f7a5d18a.ad3c","x":680,"y":340,"wires":[]},{"id":"ef316104.98c2f","type":"inject","z":"778832b7.24174c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":430,"y":300,"wires":[["8f037be4.337718"]]},{"id":"52f039f1.46b718","type":"inject","z":"778832b7.24174c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":430,"y":360,"wires":[["8f037be4.337718"]]},{"id":"18306b5c.f8ce25","type":"inject","z":"778832b7.24174c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":430,"y":420,"wires":[["8f037be4.337718"]]},{"id":"d4bfb34.e16ea5","type":"inject","z":"778832b7.24174c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":430,"y":480,"wires":[["8f037be4.337718"]]},{"id":"afe7404c.cb49c","type":"comment","z":"778832b7.24174c","name":"Turn of LCD backlight in the night","info":"Turn of LCD backlight in the night","x":690,"y":300,"wires":[]},{"id":"f7a5d18a.ad3c","type":"mqtt-broker","name":"Raspberry","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]