node-red-flows.json
[{"id":"e54e31e6.41389","type":"tab","label":"Tank Water Level","disabled":false,"info":""},{"id":"a03d1a1f.6421c8","type":"mqtt in","z":"e54e31e6.41389","name":"","topic":"home/terrace/tank/water/level","qos":"0","datatype":"auto","broker":"f7a5d18a.ad3c","inputs":0,"x":210,"y":320,"wires":[["bd6e0fb.7c562f"]]},{"id":"820bebc5.fa9498","type":"mqtt out","z":"e54e31e6.41389","name":"","topic":"home/monitor/water/tank/percent","qos":"0","retain":"","broker":"f7a5d18a.ad3c","x":580,"y":440,"wires":[]},{"id":"5ab9c674.21aed8","type":"mqtt out","z":"e54e31e6.41389","name":"","topic":"home/terrace/tank/water/level","qos":"0","retain":"","broker":"f7a5d18a.ad3c","x":490,"y":180,"wires":[]},{"id":"fe8dd1ee.0ac35","type":"inject","z":"e54e31e6.41389","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":170,"y":100,"wires":[["5ab9c674.21aed8"]]},{"id":"40b4fb76.184254","type":"change","z":"e54e31e6.41389","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"100 - ($number(msg.payload) - 19)/(82 - 19) * 100","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$ceil(msg.payload)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$min([100, msg.payload])","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$max([0, msg.payload])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":440,"wires":[["3f771944.0d9466","820bebc5.fa9498","d4113a84.0c9118"]]},{"id":"bd6e0fb.7c562f","type":"switch","z":"e54e31e6.41389","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":380,"wires":[["40b4fb76.184254"]]},{"id":"b2ef7314.0ce75","type":"inject","z":"e54e31e6.41389","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"str","x":170,"y":140,"wires":[["5ab9c674.21aed8"]]},{"id":"351b4c7b.55d5d4","type":"inject","z":"e54e31e6.41389","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"23","payloadType":"str","x":170,"y":180,"wires":[["5ab9c674.21aed8"]]},{"id":"96ec10b4.c652d","type":"inject","z":"e54e31e6.41389","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"70","payloadType":"str","x":170,"y":220,"wires":[["5ab9c674.21aed8"]]},{"id":"7012b4b9.f36b8c","type":"inject","z":"e54e31e6.41389","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"75","payloadType":"str","x":170,"y":260,"wires":[["5ab9c674.21aed8"]]},{"id":"59b65a50.d596d4","type":"comment","z":"e54e31e6.41389","name":"Test Nodes","info":"Test Nodes","x":160,"y":60,"wires":[]},{"id":"c5434c7b.74a08","type":"mysql","z":"e54e31e6.41389","mydb":"2286b39a.e7503c","name":"mysql","x":250,"y":560,"wires":[["f1fe9c4b.2e15b"]]},{"id":"3f771944.0d9466","type":"function","z":"e54e31e6.41389","name":"SQL","func":"var out = \"INSERT INTO messages (timestamp,topic,data)\"\nout = out + \" VALUES (now(),'\" + msg.topic + \"', \"\nout = out + msg.payload + \");\"\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":500,"wires":[["c5434c7b.74a08"]]},{"id":"f1fe9c4b.2e15b","type":"debug","z":"e54e31e6.41389","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":620,"wires":[]},{"id":"d4113a84.0c9118","type":"debug","z":"e54e31e6.41389","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":320,"wires":[]},{"id":"f7a5d18a.ad3c","type":"mqtt-broker","name":"Raspberry Pi 4","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2286b39a.e7503c","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"mqtt","tz":""}]